<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous"
  />
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/> 
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <nav class="navbar">
        <a class="brand" href="#">Budget Marget</a>
        <div>
            <ul>
                <li>
                    <a href="{{url_for('home_page')}}">Home</a>
                </li>
                {% if current_user.is_authenticated %}
                <li>
                    <a href="{{url_for('logout_page')}}">Log Out</a>
                </li>
                <li>
                    <a href="{{url_for('budget_form_page')}}">Budget Form</a>
                </li>
                {% else %}
                <li>
                    <a href="{{url_for('register_page')}}">Register</a>
                </li>
                <li>
                    <a href="{{url_for('login_page')}}">Login</a>
                </li>
                {% endif %}
                
            </ul>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
              <button type="button" onclick="removeFlash()" id="flash">
                <span aria-hidden="true">&times;</span>
              </button>                
              {{message}}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
    <script>
        function removeFlash() {
            const ele = document.getElementById('flash').parentNode;
            ele.remove();
        }
    </script>
</body>
</html>
