{% extends 'base.html' %}
{% block title %}
Help Instructions
{% endblock %}

{% block content %}
    <body>
        <div class="text-center">
        <h1>Instructions</h1>
        <h3>Welcome to Budget Buddy!</h3>
        <p>If you haven't already, please register for an account and login.
            <br>
            Afterwards, start creating a week to budget for by going to the budget form, inputting the amount you want to budget for, and submit.
            To keep creating more weeks to budget for, repeat this process.
            <br>
            After you are finished, head to the home tab on the top left. From there, you can select which week to input your expenses for, as well as see your saving streaks!
            <br>
            After you have selected a week, you will be directed to the list of expenses within. You can see the total expenses and whether you have gone over your budget or not at the bottom.
            <br>
            To the left is the lists of Expenses, and to the right is the form to input them. To add a task you <b>must</b> click on the small plus button to the right, and then you may begin inputting an expense to the form and submit.
            <br>
            To delete an expense, simply click on the X button to the right.
            <br>
            To update an expense, simple click on the expense's text, and then begin filling in the form on the right and submit. You will see the expense in question update shortly
            <br>
            That's all you need to know to start taking the first steps towards placing a firm grip on the flow of your money. May your budgeting endeavors be fruitful!
        </p>
    </div>
    <style>
        div{
            width: 80%;
            margin-left: 10%;
        }
    </style>
    </body>


{% endblock %}
