{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}

{% block content %}

<body class="text-center">
    <div class="form-container">
        <form method="POST">
            {{ form.hidden_tag()}}
            <br>
            <h1>
                Please Login
            </h1>
            {{ form.username.label() }}
            {{ form.username( placeholder = 'User Name') }}
            <br />
            {{ form.password.label() }}
            {{ form.password(placeholder="Password")}}
            <br />
            {{form.submit()}}
        </form>

    </div>

    <style>
        input {
            display: inline-block;
            width: 100%;
            margin: 5px 0;
        }

        input[type="submit"] {
            width: 20%;
            margin: 5px auto;
        }

        .form-container {
            width: 50%;
            margin-left: 25%;
        }

    </style>
</body>
{% endblock %}
