{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}

{% block content %}

<body>
    <form method="POST">
        <br/>

        <h1 align="center">
            Please Login
        </h1>
        <br/>
        <div align = "center">
        {{ form.username.label() }}
        {{ form.username( placeholder = 'User Name') }}
        </div>
        <br/>
        <div align = "center">
        {{ form.password.label() }}
        {{ form.password(placeholder="Password")}}
        </div>
        <br/>
        <div align = "center">
        {{form.submit()}}
    </div>

    </form>
</body>
{% endblock %}
