{% extends 'base.html' %}
{% block title %}
    Register
{% endblock %}

{% block content %}

<body>
    <div width = "50%" align = "center">
        <form method="POST">
            <br/>
            <h1 align = "center">Please Register Below</h1>

            <br/>
            <div align = "center">
            {{ form.username.label() }}
            {{form.username(placeholder="User Name")}}
            <br/>
            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control", placeholder="Email Address") }}
            <br/>
            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password") }}
            <br/>
            {{ form.password_confirm.label() }}
            {{ form.password_confirm(placeholder="Confirm Password") }}
            <br/>

            {{ form.submit()}}
        </div>
        
        </form>
    </div>
</body>
{% endblock %}
